<section>
    <div class="footer">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="pull-right hidden-xs">
                                    <a href="index.html">
                                        <font color="#337ab7">Privacy Policy</font>
                                    </a>
                                    <font color="#ffffff">|</font>
                                    <a href="index.html">
                                        <font color="#337ab7">Sitemap</font>
                                    </a>
                                </div>
                                <div>
                                    The Oriental Insurance Company Ltd. All rights reserved Insurance is the subject matter of solicitation. IRDA Reg. No. 556
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</section>