<!DOCTYPE html>
<html lang="en" ng-app="oiclApp">

<head>
    <title>The Oriental Insurance Company</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="The Oriental Insurance Company Ltd was a wholly owned subsidiary of the Oriental Government Security Life Assurance Company Ltd and was formed to carry out General Insurance business. The company has developed various types of insurance covers to cater to the needs of both the urban and rural population of India."
        lang="en-US" name="description" />
    <meta name="description" content="The Oriental Insurance Company">
    <meta name="keywords" content="The Oriental Insurance Company" />
    <link rel="shortcut icon" href="assets/images/favicon.ico">
    <!--Morris Chart CSS -->
    <link rel="stylesheet" href="assets/plugins/morris/morris.css">
    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Icons CSS -->
    <link href="assets/css/icons.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet">

    <!-- AngularJS Scripts -->
    <script src="assets/js/angular/angular.js"></script>


    <script src="assets/js/angular/angular-resource.js"></script>

    <script src="assets/js/angular/angular-route.js"></script>

    <script src="assets/js/angular/angular-animate.js"></script>

    <script src="assets/js/angular/angular-messages.js"></script>
    <script src="app/app.js"></script>
    <script src="app/login/login.js"></script>
    <script src="app/login/LoginService.js"></script>
</head>

<body>

    <div id="page-wrapper">
        <!-- Page content start -->
        <div class="page-contentbar">

            <!-- START PAGE CONTENT -->
            <div id="page-right-content" style="background-image: url(resource/img/bg_login.png);background-position:center;">

                <!-- HOME -->
                <section>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">

                                <div class="wrapper-page login_form" style="background-image: url(resource/img/bg_login_form.png);background-position:center;">

                                    <div class="m-t-40 card-box">
                                        <div class="text-center">
                                            <h2 class="text-uppercase m-t-0 m-b-30">
                                                <a href="index.html" class="text-success">
                                                        <span><img src="assets/images/logo_dark.png" alt=""></span>
                                                    </a>
                                            </h2>
                                            <!--<h4 class="text-uppercase font-bold m-b-0">Sign In</h4>-->
                                        </div>
                                        <div class="account-content" ng-controller="LoginController as login">
                                            <form class="form-horizontal" name="loginform" method="post" ng-submit="login.loginValidate(loginform.$valid,login.loginCredModel);"
                                                novalidate>
                                                <div class="form-group m-b-20">
                                                    <div class="col-xs-12">
                                                        <input class="userid form-control" type="text" id="userid" name="userid" placeholder="User ID" ng-model="login.loginCredModel.userid"
                                                            ng-required="true" ng-minlength="12" ng-maxlength="12">
                                                        <p class="alert-danger" ng-show="(loginform.userid.$error.required && login.isSubmitted) || (loginform.userid.$touched && loginform.userid.$error.required) ">User ID is Mandatory.</p>
                                                        <p class="alert-danger" ng-show="(loginform.userid.$error.minlength && login.isSubmitted) || (loginform.userid.$touched && loginform.userid.$error.minlength) ">User ID Should be 12 Characters.</p>
                                                        <p class="alert-danger" ng-show="(loginform.userid.$error.maxlength && login.isSubmitted) || (loginform.userid.$touched && loginform.userid.$error.maxlength) ">User ID Should be 12 Characters.</p>
                                                    </div>
                                                </div>
                                                <div class="form-group m-b-20">
                                                    <div class="col-xs-12">
                                                        <input class="userid form-control" type="password" id="password" name="password" placeholder="Password" ng-model="login.loginCredModel.password" ng-minlength="8" ng-maxlength="16" required ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/">
                                                        <div ng-messages="loginform.password.$error">
                                                        <p class="alert-danger" ng-show="(loginform.password.$error.required && login.isSubmitted) || (loginform.password.$touched && loginform.password.$error.required)">Password is Mandatory.</p>
                                                        <div ng-message="pattern">Password should be atleast 8 characters long and should contain one
                                                            number, one character and one special character.</div>
                                                        <div ng-message="(required)">Password should be atleast 8 characters long and should contain one
                                                            number, one character and one special character.</div>
                                                        <!--<p class="alert-danger" ng-show="(loginform.password.$error.minlength && login.isSubmitted) || (loginform.password.$touched && loginform.password.$error.minlength) ">Password must be at least 8 Characters long.</p>
                                                            <p class="alert-danger" ng-show="(loginform.password.$error.maxlength && login.isSubmitted) || (loginform.password.$touched && loginform.password.$error.maxlength) ">Password cannot be more than 16 characters long.</p>-->
                                                    </div>
                                                </div>
                                                <div class="form-group m-b-30">
                                                    <div class="col-xs-12">
                                                        <a href="forgotpassword.html" class="text-muted pull-right font-14">Forgot Password?</a>
                                                    </div>
                                                </div>
                                                <div class="form-group account-btn text-center m-t-10 col-xs-12">
                                                    <button class="btn" type="submit" ng-disabled="loginform.$invalid">Login</button>
                                                </div>
                                            </form>
                                            <div class="row m-t-50">
                                                <div class="col-sm-12 text-center">
                                                    <p class="text-muted">Don't have an account? Register as <a href="register.html"><b>Direct User</b></a></p>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                    <!-- end card-box-->

                                </div>
                                <!-- end wrapper -->

                            </div>
                        </div>
                    </div>
                </section>
                <!-- END HOME -->
                <!-- end container -->

                <!-- Including the Footer -->
                <div ng-include="'template/footer.html'"></div>


            </div>
            <!-- End #page-right-content -->

            <div class="clearfix"></div>

        </div>
        <!-- end .page-contentbar -->
    </div>
    <!-- End #page-wrapper -->
    <!-- js placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery-2.1.4.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.slimscroll.min.js"></script>
    <!--Morris Chart-->
    <script src="assets/plugins/morris/morris.min.js"></script>
    <script src="assets/plugins/raphael/raphael-min.js"></script>
    <!-- Dashboard init -->
    <script src="assets/pages/jquery.dashboard.js"></script>
    <!-- App Js -->
    <script src="assets/js/jquery.app.js"></script>
</body>

</html>